[workspace]
resolver = "2"
members = [
    "crates/tree-sitter-perl-rs",
    "xtask",
]

[workspace.dependencies]
tree-sitter-perl = { path = "crates/tree-sitter-perl-rs", features = ["rust-scanner"] }
