[package]
name = "tree-sitter-perl"
description = "Perl grammar for tree-sitter"
version = "0.0.1"
license = "MIT"
readme = "README.md"
keywords = ["incremental", "parsing", "tree-sitter", "perl"]
categories = ["parsing", "text-editors"]
repository = "https://github.com/tree-sitter/tree-sitter-perl"
edition = "2021"
autoexamples = false

build = "bindings/rust/build.rs"
include = ["bindings/rust/*", "grammar.js", "queries/*", "src/*", "lib/*"]

[lib]
path = "bindings/rust/lib.rs"

[dependencies]
tree-sitter = "0.25.8"
tree-sitter-language = "0.1.0"

[build-dependencies]
cc = "1.0.87"

[dev-dependencies]
proptest = "1.4.0"
criterion = "0.5.1"
