[package]
name = "xtask"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.4", features = ["derive"] }
color-eyre = "0.6"
cargo_metadata = "0.18"
duct = "0.13"
walkdir = "2.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
toml = "0.8"
anyhow = "1.0"
indicatif = "0.17"
console = "0.15"
chrono = { version = "0.4", features = ["serde"] }
tree-sitter-perl = { workspace = true, features = ["rust-scanner"] }
