.vscode/**
.vscode-test/**
out/test/**
coverage/**
src/**
test/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
scripts/**
*.vsix
*.tgz
.github/**
**/*.md
!README.md
!CHANGELOG.md
!LICENSE
build.sh
icon.svg
icon_generator.py
package-lock.json
pnpm-lock.yaml
test-extension.pl
INTERNAL_DEPLOYMENT.md
PUBLISHING.md
